@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap');

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	
	font-family: 'Cabin', sans-serif;
	font-display: swap;
	font-size: 12pt;

	/*color: #8B8C89;	/* Subject to change based on theme */

	-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
}